{% extends 'usuariosTemplates/bienvenida.html' %}

{% block content1 %}
<div class="container">
    <h2>Calendario de Reservas</h2>
    <div id="calendar"></div>
    <a href="{% url 'listar_huespedes' %}" class="btn btn-secondary mt-3">Volver a Total de Huéspedes</a>
</div>

<!-- Incluir FullCalendar -->
<link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            events: {{ eventos|safe }},  // Carga los eventos aquí
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            }
        });
        calendar.render();
    });
</script>

{% endblock %}
