{% extends 'usuariosTemplates/bienvenida.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h2>Buscar Persona</h2>
    <form method="get" action="{% url 'buscarPersona' %}">
        <div class="form-group">
            <input type="text" class="form-control" name="q" placeholder="Buscar...">
        </div>
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
    <table class="table mt-3">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>DNI o Pasaporte</th>
                <th>Fecha de Entrada</th>
                <th>Fecha de Salida</th>
                <th>Habitación</th>
                <th>Nacionalidad</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for persona in personas %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ persona.nombre }}</td>
                    <td>{{ persona.apellido }}</td>
                    <td>{{ persona.dni_o_pasaporte }}</td>
                    <td>{{ persona.fecha_entrada }}</td>
                    <td>{{ persona.fecha_salida }}</td>
                    <td>{{ persona.numero_habitacion.numero_habitacion }}</td>
                    <td>{{ persona.nacionalidad|upper }}</td>
                    <td>
                        {% if persona.salio %}
                            Salido
                        {% elif persona.borrado %}
                            Borrado
                        {% else %}
                            Pendiente
                        {% endif %}
                    </td>
                    <td>
                        {% if not persona.salio %}
                            <a href="#" class="btn btn-warning" onclick="confirmMarkAsLeft('{{ persona.id }}')">Marcar Salido</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
