{% extends 'registroPersonas/ver_habitaciones.html' %}
{% load static %}

{% block content1 %}
<h5>Habitación {{ habitacion.numero_habitacion }}</h5>
<ul>
    {% for persona in personas %}
        <li>
            {{ persona.nombre }} {{ persona.apellido }} (DNI: {{ persona.dni_o_pasaporte }}) - Ingreso: {{ persona.fecha_entrada }} - Salida: {{ persona.fecha_salida }}
            <!-- Enlace para editar la fecha de salida -->
            <a href="{% url 'editar_fecha_salida' persona.id %}" class="btn btn-warning btn-sm">Editar Fecha de Salida</a>
        </li>
    {% empty %}
        <li>No hay personas pendientes en esta habitación.</li>
    {% endfor %}
</ul>
{% endblock %}
