{% extends 'usuariosTemplates/bienvenida.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h2>Listar Borrados</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>DNI o Pasaporte</th>
                <th>Fecha de Entrada</th>
                <th>Habitación</th>
                <th>Nacionalidad</th>
                <th>Fecha de Eliminación</th>
                <th>Usuario Responsable</th>
            </tr>
        </thead>
        <tbody>
            {% for persona in borrados %}
                <tr>
                    <td>{{ persona.nombre }}</td>
                    <td>{{ persona.apellido }}</td>
                    <td>{{ persona.dni_o_pasaporte }}</td>
                    <td>{{ persona.fecha_entrada }}</td>
                    <td>{{ persona.numero_habitacion.numero_habitacion }}</td>
                    <td>{{ persona.nacionalidad|upper }}</td>
                    <td>{{ persona.fecha_eliminacion }}</td>
                    <td>{{ persona.usuario_responsable.username }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
